
header{
    background:url('../img/girl.jpeg') 10% 48% /cover;
height:100vh;
position: relative;
}
.logo img{
 width:140px;

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin:0 15px;
padding:10px;
}
.mobile-menu i{
    color:rgb(232, 224, 224);
font-size: 30px;
}
.navbarmenu{
    top:0;
right:-100%;
    background: white;
    width:100%;
    height:100%;
    position:fixed;
    font-size: 18px;
    color:#894BA4;
    text-align: center;
    padding:20px;
    transition: 0.5s ease;

}
.navbarmenu ul{
display: flex;
flex-direction: column;
gap:10px;
}

.navbarmenu button{
    border:none;
    border-radius: 20px;
    display: flex;
    margin:auto;
    padding:5px 50px;
    font-size: 20px;
    justify-content: center;
    margin-top:50px;
 background:#894BA4;
    color:white;
}
.navbarmenu .icons i{
    border:1px solid;
    border-radius:  46%;
padding:10px 20px;
display: flex;
justify-content: center;
}

.close-bar{
    display: flex;
    justify-content: end;
}
.navbarmenu .icons {
display: flex;
margin-top:50px;
gap:20px;
justify-content: center;
}
.deskopt-menu{display:none}
@media only screen and (min-width: 768px) {
    .deskopt-menu{display:block;
    }
    .mobile-menu {
     display: none;
    
    }
    .navbarmenu {
        display: none;
    }
    .deskopt-menu ul {
        display:flex;
        color:rgb(78, 77, 77);
gap:30px;
margin-right:50px;
align-items: center;
justify-content: center;
    }
}